.input-title {
  color: gray;
  font-size: l;
}
.input-error {
  color: red;
  font-size: l;
}

.date-selector {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.date-selector:hover {
  cursor: pointer;
}

#sign-up-link-wrapper {
  text-align: center;
}
.sign-up-link {
  color: blue;
  text-decoration: underline;
}
